{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - Review</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                    <h2>Review Details</h2>
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
        <br/>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="row" class="text-center" colspan="2">{{ review_obj }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Interface</th>
                    <td><a href="{% url 'interface_details' review_obj.interface.id %}" class="link-primary">{{ review_obj.interface }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Review Status</th>
                    <td>{{ review_obj.review_status }}</td>
                </tr>
                <tr>
                    <th scope="row">Review Requestor</th>
                    <td>{{ review_obj.requestor.first_name }} {{ review_obj.requestor.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Reviewer</th>
                    <td>{{ review_obj.reviewer.first_name }} {{ review_obj.reviewer.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Review created at</th>
                    <td>{{ review_obj.created_at }}</td>
                </tr>
            </tbody>
        </table>

        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
       
    </div>

{% endblock content %}