{% extends 'app_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>ACME IC - Create Interface Implementation</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br/>
        <h2>Create Interface Implementation</h2>
        <br/>

        <form method="POST">
            {% csrf_token %}
            {{implementation_obj.interface|as_crispy_field}}
            {{implementation_obj.provider|as_crispy_field}}

            <!--
            <label for="provider" class="form-label">Provider*</label><br/>
            <input class="form-control" list="provider" id="provider_datalist" placeholder="Search Provider Application..." />
            <datalist id="provider">
                {% for application in application_objs %}
                    <option value="{{ implementation_obj.provider }}">{{ application }}</option>
                {% endfor %}
            </datalist>
            </br>
            -->
            
            {{implementation_obj.implementation_type|as_crispy_field}}
            {{implementation_obj.provider_basepath|as_crispy_field}}
            {{implementation_obj.implementation_counter|as_crispy_field}}

           
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger">Speichern</button>
            </div>
            <br/>
        </form>
    </div>

    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="javascript:history.back()"><button type="submit" class="btn btn-primary me-md-5">Cancel</button></a>  
        </div>
    </div>
{% endblock content %}