{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - View Implementation</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br/>
        <h2>Implementation Details</h2>
        <br/>
    </div>

    <div class="container">
        <div class="row g-4">
            <div class="col-6">
                <div class="p-3 border bg-info">Interface: <a href="{% url 'interface_details' implementation_obj.interface.id %}" class="link-primary"><b>{{ implementation_obj.interface }}</b></a></div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-info">Implementation Basepath: <b>{{ implementation_obj.provider_basepath }}</b></div>
            </div>
            
            <div class="col-6">
                <div class="p-3 border" style="background-color: #e3f2fd;">Implementation Provider: <a href="{% url 'application_details' implementation_obj.provider.id %}" class="link-primary"><b>{{ implementation_obj.provider }}</b></a></div>
            </div>
            <div class="col-6">
                <div class="p-3 border" style="background-color: #e3f2fd;">Implementation Type: <b>{{ implementation_obj.implementation_type }}</b></div>
            </div>
            
            <div class="col-6">
                <div class="p-3 border bg-light">Implementation Counter: <b>{{ implementation_obj.implementation_counter }}</b></div>
            </div>
            <div class="col-6">
                <div class="p-3">&nbsp;</div>
            </div>

            <div class="d-flex p-4">
                <p class="float-right">
                    <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Back</b></button></a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}