{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - View Implementation</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                    <h2>Implementation  Details</h2>
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
        <br/>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="row" class="text-center" colspan="2">{{ implementation_obj }}</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Interface</th>
                <td><a href="{% url 'interface_details' implementation_obj.interface.id %}" class="link-primary">{{ implementation_obj.interface }}</a></td>
              </tr>
              <tr>
                <th scope="row">Implementation Basepath</th>
                <td>{{ implementation_obj.provider_basepath }}</td>
              </tr>
              <tr>
                <th scope="row">Implementation Provider</th>
                <td><a href="{% url 'application_details' implementation_obj.provider.id %}" class="link-primary">{{ implementation_obj.provider }}</a></td>
              </tr>
              <tr>
                <th scope="row">Implementation Type</th>
                <td>{{ implementation_obj.implementation_type }}</td>
              </tr>
              <tr>
                <th scope="row">Implementation Counter</th>
                <td>{{ implementation_obj.implementation_counter }}</td>
              </tr>

              <tr>
                <th scope="row">Interface Consumers</th>
                <td>
                    {% if implementation_obj.consumers %}
                        <dl class="list-group">
                            {% for consumer in implementation_obj.consumers.all %}
                                <dd><a href="{% url 'application_details' consumer.id %}">{{consumer}}</a></dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
    </div>

{% endblock content %}