{% extends 'app_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>ACME IC - Update Interface Implementation</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br/>
        <h2>Update Interface Implementation</h2>
        <br/>

        <form method="POST">
            {% csrf_token %}
            {{ implementation_obj|crispy }}
            <br/>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger">Save Implementation</button>
            </div>
            <br/>
        </form>
    </div>

    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'interface_details' interface.id %}"><button type="submit" class="btn btn-primary me-md-5">Cancel</button></a>  
        </div>
    </div>
{% endblock content %}