{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - Application</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                    <h2>Application Details</h2>
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
        <br/>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="width: 25%">APP-ID</th>
                    <td>{{ application_obj }}</td>
                </tr>
                <tr>
                    <th scope="row">Application Shortname</th>
                    <td>{{ application_obj.short_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Application Mail</th>
                    <td>{{ application_obj.mail_address }}</td>
                </tr>
            </tbody>
        </table>

        {% if owned_interface_objs %}
            <div class="container">
                <br/><hr/><br/>
            </div>
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="row">{{ application_obj }} Interfaces</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interface in owned_interface_objs %}
                        <tr class="text-center">
                            <td><a href="{% url 'interface_details' interface.id %}">{{interface}}</a></dd>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if provided_implementation_objs %}
            <div class="container">
                <br/><hr/><br/>
            </div>
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="row">{{ application_obj }} Implementations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for implementation in provided_implementation_objs %}
                        <tr class="text-center">
                            <td><a href="{% url 'implementation_details' implementation.id %}">{{implementation}}</a></dd>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if consumed_implementation_objs %}
            <div class="container">
                <br/><hr/><br/>
            </div>
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="row">Von {{ application_obj }} consumiert</th>
                    </tr>
                </thead>
                <tbody>
                    {% for implementation in consumed_implementation_objs %}
                        <tr class="text-center">
                            <td><a href="{% url 'implementation_details' implementation.id %}">{{implementation}}</a></dd>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
    </div>

{% endblock content %}