{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - View Application</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br/>
        <h2>Application Details</h2>
        <br/>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="row" class="text-center" colspan="2">{{ application_obj }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">APP-ID</th>
                <td>{{ application_obj.app_id }}</td>
                </tr>
                <tr>
                <th scope="row">Application Shortname</th>
                <td>{{ application_obj.short_name }}</td>
                </tr>
                <tr>
                <th scope="row">Application Mail</th>
                <td>{{ application_obj.mail_address }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex p-4">
            <p class="float-right">
                <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Back</b></button></a>
            </p>
        </div>
    </div>

{% endblock content %}