{% extends 'app_base.html' %} 
{% load static %}

{% block title %}
    <title>{{ title_text }}</title>
{% endblock title %}

{% block content %}
    <div class="container">
        </br>
        <h1 class="text-center shadow">{{ index_text }}</h1>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <p class="h1 text-center text-primary">Sed diam voluptua!</p>
                <p class="h5 text-center">At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <p class="mt-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
            </div>
        </div>
    </div>
{% endblock content %}
