{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - View Interface</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                    <h2>Interface Details</h2>
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="{% url 'index' %}"><button type="submit" class="btn btn-primary">Zurück zu ACME Interfaces</b></button></a>
                    </p>
                </div>
            </div> 
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible fade show
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alert-danger" role="alert">
                {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <br/>
        <nav class="navbar navbar-dark bg-info navbar-expand">
            <ul class="navbar-nav ml-auto">
                {% if user.username == 'Administrator' or request.user == interface_obj.owner %} 
                    <li class="nav-item px-3">
                        <a href="{% url 'update_interface' interface_obj.id %}" class="btn btn-sm btn-danger float-right" type="button">Update Interface</a>
                    </li>
                {% endif %}
                {% if user.username == 'Administrator' %}    
                    <li class="nav-item px-3">
                        <a href="{% url 'create_review' interface_obj.id %}" class="btn btn-sm btn-warning text-white" type="button">Create Review</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item px-3">
                        <a href="{% url 'clone_interface' interface_obj.id %}" class="btn btn-sm btn-secondary" type="button">Clone Interface</a>
                    </li>
                {% endif %}
                <li class="nav-item px-3">
                    <a href="{% url 'quality_check' interface_obj.id %}" class="btn btn-sm btn-secondary" type="button">Quality Check</a>
                </li>
            </ul>
        </nav>
        
        <br/>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="width: 25%">ID</th>
                    <td>{{ interface_obj.interface_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ interface_obj.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Implementations</th>
                    <td>
                        {% if implementation_objs %}
                            <dl class="list-group">
                                {% for implementation in implementation_objs %}
                                    <dd><a href="{% url 'implementation_details' implementation.id %}">{{implementation}}</a></dd>
                                {% endfor %}
                            </dl>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Interface Reviews</th>
                    <td>
                        {% if review_objs %}
                        <dl class="list-group">
                            {% for review in review_objs %}
                                <dd><a href="{% url 'review_details' review.id %}">{{review}}</a></dd>
                            {% endfor %}
                        </dl>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Application Owner</th>
                    <td><a href="{% url 'application_details' interface_obj.owner_application.id %}">{{ interface_obj.owner_application }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Owner</th>
                    <td>{{ interface_obj.owner.first_name }} {{ interface_obj.owner.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>{{ interface_obj.status }}</td>
                </tr>
               <tr>
                    <th scope="row">Domain Name</th>
                    <td>{{ interface_obj.domain_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Major Version</th>
                    <td>{{ interface_obj.major_version }}</td>
                </tr>
                <tr>
                    <th scope="row">Info Classification</th>
                    <td>{{ interface_obj.info_classification }}</td>
                </tr>
                <tr>
                    <th scope="row">Doc Link</th>
                    <td>
                        {% if interface_obj.doc_link %}
                            <a href="{{ interface_obj.doc_link }}" target="_blank">{{ interface_obj.doc_link }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ interface_obj.description }}</td>
                </tr>
                {% if interface_obj.workend_date %}
                    <tr>
                        <th scope="row">Workend Date</th>
                        <td>{{ interface_obj.workend_date }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Interface Infoflow Direction</th>
                    <td>{{ interface_obj.infoflow_direction }}</td>
                </tr>
                <tr>
                    <th scope="row">Owned Interface</th>
                    <td>{{ interface_obj.owned_interface }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Restriction</th>
                    <td>{{ interface_obj.restriction }}</td>
                </tr>
                {% if interface_obj.restriction %}
                    <tr>
                        <th scope="row">Interface Restriction Code</th>
                        <td>{{ interface_obj.restriction_code }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Interface Restriction Text</th>
                        <td>{{ interface_obj.restriction_text }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="{% url 'index' %}"><button type="submit" class="btn btn-primary">Zurück zu ACME Interfaces</b></button></a>
                    </p>
                </div>
            </div> 
        </div>

    </div>

{% endblock content %}