{% extends 'app_base.html' %} 

{% block title %}
    <title>ACME IC - View Interface</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                    <h2>Interface Details</h2>
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>
        <br/>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Interface ID</th>
                    <th>{{ interface_obj.interface_id }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Interface Name</th>
                    <td>{{ interface_obj.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Implementations</th>
                    <td>
                        {% if implementation_objs %}
                            <dl class="list-group">
                                {% for implementation in implementation_objs %}
                                    <dd><a href="{% url 'implementation_details' implementation.id %}">{{implementation}}</a></dd>
                                {% endfor %}
                            </dl>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Interface Reviews</th>
                    <td>
                        {% if review_objs %}
                        <dl class="list-group">
                            {% for review in review_objs %}
                                <dd><a href="{% url 'review_details' review.id %}">{{review}}</a></dd>
                            {% endfor %}
                        </dl>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Interface Application Owner</th>
                    <td><a href="{% url 'application_details' interface_obj.owner_application.id %}">{{ interface_obj.owner_application }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Interface Owner</th>
                    <td>{{ interface_obj.owner.first_name }} {{ interface_obj.owner.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Status</th>
                    <td>{{ interface_obj.status }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Type</th>
                    <td>{{ interface_obj.interface_type }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Business Domain</th>
                    <td>{{ interface_obj.business_domain }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Origin</th>
                    <td>{{ interface_obj.model_origin }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Version</th>
                    <td>{{ interface_obj.version }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Info Classification</th>
                    <td>{{ interface_obj.info_classification }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Contract URL</th>
                    <td>
                        {% if interface_obj.contract_description %}
                            <a href="{{ interface_obj.contract_description }}" target="_blank">{{ interface_obj.contract_description }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Interface Description</th>
                    <td>{{ interface_obj.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Created at</th>
                    <td>{{ interface_obj.created_at }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Production Started at</th>
                    <td>{{ interface_obj.production_start_at }}</td>
                </tr>
                {% if interface_obj.decommissioning_at %}
                    <tr>
                        <th scope="row">Interface Decommissioning at</th>
                        <td>{{ interface_obj.decommissioning_at }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Interface Communication Pattern</th>
                    <td>{{ interface_obj.communication_pattern }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Accessibility</th>
                    <td>{{ interface_obj.accessibility }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Infoflow Direction</th>
                    <td>{{ interface_obj.infoflow_direction }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Multi Provider</th>
                    <td>{{ interface_obj.multi_provider }}</td>
                </tr>
                <tr>
                    <th scope="row">Owned Interface</th>
                    <td>{{ interface_obj.owned_interface }}</td>
                </tr>
                <tr>
                    <th scope="row">Interface Restriction</th>
                    <td>{{ interface_obj.restriction }}</td>
                </tr>
                {% if interface_obj.restriction %}
                    <tr>
                        <th scope="row">Interface Restriction Code</th>
                        <td>{{ interface_obj.restriction_code }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Interface Restriction Text</th>
                        <td>{{ interface_obj.restriction_text }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        <div class="container">
            <br/>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <p class="float-right">
                        <a href="javascript:history.back()"><button type="submit" class="btn btn-primary">Zurück</b></button></a>
                    </p>
                </div>
            </div> 
        </div>

    </div>

{% endblock content %}