{% extends 'app_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>ACME IC - Update Interface</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <div class="col">
                <h2>Update Interface</h2>
            </div>
            <div class="col">
                <p class="float-right">
                    <a href="{% url 'my_interfaces' %}"><button type="submit" class="btn btn-primary me-md-5">Cancel</button></a> 
                </p>
            </div>
        </div> 
        <br/>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible fade show
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alert-danger" role="alert">
                {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            {{ interface_obj|crispy }}
            <br/>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger">Speichern</button>
            </div>
            <br/>
        </form>
    </div>

    <div class="container">
        <hr/>
    </div>

    <div class="container">
        <h3>Interface Implementations:</h3>
    </div>

    <div class="container">
        <div class="p-3">
            {% if implementation_objs %}
                <ul>
                    {% for implementation in implementation_objs %}
                        <li><a href="{% url 'update_implementation' implementation.id %}" class="link-danger"><b>{{implementation}}</b></a></li>
                    {% endfor %}
                </ul>
            {% else %}
                Keine Implementations gefunden
            {% endif %}
        </div>
        
        <div class="p-3 d-grid gap-2">
            <form method="POST">
                {% csrf_token %}
                <div class="d-grid gap-2">
                    <a href="{% url 'create_implementation' interface_id %}" class="btn btn-warning"><b>Create Interface Implementation</b></a>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <hr/> <hr/>
    </div>

    <div class="container">
        <h3>Interface Reviews:</h3>
    </div>

    <div class="container">
        <div class="p-3">
            {% if review_objs %}
                <ul>
                    {% for review in review_objs %}
                        <li><a href="{% url 'review_details' review.id %}" class="link-primary">{{review}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                Keine Reviews gefunden
            {% endif %}
        </div>
    </div>
    
    <div class="container">
        <br/>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <p class="float-right">
                    <a href="{% url 'my_interfaces' %}"><button type="submit" class="btn btn-primary me-md-5">Cancel</button></a>  
                </p>
            </div>
        </div> 
    </div>
{% endblock content %}